*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", system-ui;
  font-weight: 400;
  background-color: #f3e5d8;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  /* font-family:
    system-ui,
    -apple-system,
    sans-serif; */
  min-height: 100vh;
  max-width: 640px;
  margin: auto;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: #854632; /* The reddish-brown from your image */
  margin-bottom: 1rem;
}

.recipe-card {
  padding: 32px;
  margin: 80px 0;
  background-color: #ffffff;
  border-radius: 24px;
}

.recipe-image {
  max-width: 575px;
  border-radius: 12px;
}
