*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", system-ui;
  font-weight: 400;
  background-color: #f3e5d8;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  /* font-family:
    system-ui,
    -apple-system,
    sans-serif; */
  min-height: 100vh;
  max-width: 640px;
  margin: auto;
}

h1 {
  font-size: 36px;
  font-family: "Young Serif", serif;
  font-weight: inherit;
  color: #302d2c;
  margin: 16px 0 20px 0;
}

h2 {
  font-size: 30px;
  font-family: "Young Serif", serif;
  font-weight: inherit;
  color: #854632;
  margin-bottom: 12px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: #7b284f;
  margin-bottom: 8px;
}

ul,
ol {
  padding-left: 24px;
}

.recipe-card {
  padding: 32px;
  margin: 80px 0;
  background-color: #ffffff;
  border-radius: 24px;
}

.recipe-image {
  max-width: 575px;
  border-radius: 12px;
}

.recipe-section {
  margin-bottom: 28px;
}

.recipe-description {
  font-size: 14px;
  margin-bottom: 20px;
}

.preparation-background {
  background-color: #fff5fa;
  padding: 24px;
  border-radius: 12px;
}

/* Mobile styles */
@media (max-width: 767px) {
  body {
    width: 100%;
  }

  .recipe-card {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    border-radius: 0px;
  }

  .header-contents {
    padding: 28px;
  }

  .recipe-section {
    padding: 28px;
  }

  .recipe-image {
    width: 100%;
    border-radius: 0px;
  }

  .recipe-description {
    font-size: 16px;
  }
}
